<!-- <app-project-component></app-project-component> -->
<router-outlet />
<!-- <app-list-contractors></app-list-contractors> -->
<footer class="footer" style="position: absolute; bottom: 0px; z-index: -1">
    <div id="divForFooter">
        <div class="container text-center">
            <span class="text-muted">כל הזכויות שמורות לעו"ד רפי וינברגר ולעו"ד עדינה חוטובלי. עיצוב: <a href="http://miriwein.com/" target="_blank">מירי וינברגר</a>.</span>
               <img class="glyphicon-align-left" style="height:40px; width:50px; float:left " >
        </div>
    </div>
</footer>